{% extends 'base.html' %}
{% block content %}
<html>

<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="static/css/table.css">

  </head>
<body>

  <div class="table-wrapper">
  <table class="fl-table">
    <thead>
      <tr>
        <th>学号</th>
        <th>姓名</th>
        <th>打算选课的课程号</th>
        <th>打算选课的课程名</th>
      </tr>
      <tr>
    {%for i in info%}
    {%for j in i%}
    <th>{{j}}</th>
    {%endfor%}    {%endfor%}


  </tr>
  </thead>
  </table>
  </div>

    <form action="" method="post">

    {{form.sname.label}}
    {{form.sname(size=32)}}<br>
    {{form.cname.label}}
    {{form.cname(size=32)}}<br>
    {{form.submit(size=32)}}<br>
    </form>

</body>
</html>
{% endblock %}
