{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
	<title>注册</title>
		<meta charset="utf-8">
		<link href="static/css/register.css" rel='stylesheet' type='text/css' />
		<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	 <div class="main">
		<div class="login-form">
			<h1>你来辣</h1>
					<div class="head">
						<img src="static/images/user.png" alt=""/>
					</div>
          <form action="/login" method="post">
						<input id="username" name="username" type="text" value="" placeholder="用户名">
						<input id="password" name="password" type="password" value="" placeholder="密码">
            <input id="user_type" name="user_type" type="text" value="" placeholder="用户类型" >
            <div class="submit">
							<input id="submit" name="submit"type="submit" value="注册" >
					</div>
				</form>

</body>
</html>
{%endblock%}
