{% extends 'base.html' %}
{% block content %}
<html>

<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="static/css/table.css">

  </head>
<body>
  <!-- main -->
  <div class="table-wrapper">
  <table class="fl-table">
    <thead>
      <tr>
        课程名
      </tr>
  <tr>
    {%for i in CourseName%}
      <th>{{i}}</th>
    {%endfor%}
</tr>
  </thead>
  </table>
  </div>
      <form action="" method="post">
      {{form.cname.label}}
      {{form.cname(size=32)}}<br>
      {{form.submit(size=32)}}
      </form>


</body>
</html>
{% endblock %}
